body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  text-align: center;
}

/* Container style */
#puzzlearea {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  background: #000000;
  border: 5px solid #000000;
}

/* puzzle pieces */
#puzzlearea div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  font-weight: bold;
  border: 5px solid #000000;
  color: #ffffff;
  background-image: url("background.jpg");
  background-size: 400px 400px;
}

/* hover effect */
#puzzlearea div:hover {
  background: #d0d0d0;
}

/* Row 1 */
#puzzlearea div:nth-child(1)  { background-position:   0px   0px; }
#puzzlearea div:nth-child(2)  { background-position: -100px   0px; }
#puzzlearea div:nth-child(3)  { background-position: -200px   0px; }
#puzzlearea div:nth-child(4)  { background-position: -300px   0px; }

/* Row 2 */
#puzzlearea div:nth-child(5)  { background-position:   0px -100px; }
#puzzlearea div:nth-child(6)  { background-position: -100px -100px; }
#puzzlearea div:nth-child(7)  { background-position: -200px -100px; }
#puzzlearea div:nth-child(8)  { background-position: -300px -100px; }

/* Row 3 */
#puzzlearea div:nth-child(9)  { background-position:   0px -200px; }
#puzzlearea div:nth-child(10) { background-position: -100px -200px; }
#puzzlearea div:nth-child(11) { background-position: -200px -200px; }
#puzzlearea div:nth-child(12) { background-position: -300px -200px; }

/* Row 4 */
#puzzlearea div:nth-child(13) { background-position:   0px -300px; }
#puzzlearea div:nth-child(14) { background-position: -100px -300px; }
#puzzlearea div:nth-child(15) { background-position: -200px -300px; }




button {
  font-size: 14pt;
  border: none;
  background: #5371b7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #000000;
}
p{
  max-width: 800px;
}
